<!DOCTYPE HTML>
<html>
<head>
  <title>Elevator control panel</title>
  <style>
  .mod-building .floor {
    height: <%= 100.0 / num_floors %>%;
  }

  .mod-elevator {
    height: <%= 100.0 / num_floors %>%;
    top: <%= (100.0 / num_floors) * (num_floors - current_floor) %>%;
  }
  </style>
  <link href="control_panel.css" rel="stylesheet"/>
</head>
<body data-num-floors="<%= num_floors %>">
  <div class="mod-building">
    <div class="floors">
      <%= for n <- 1..num_floors do %>
        <div class="mod-floor floor">
          <button
            class="call-elevator-button floor-call-elevator-button"
            data-action="call-elevator"
            data-floor-number="<%= num_floors - n + 1 %>"
          ></button>
        </div>
      <% end %>
    </div>

    <div class="mod-elevator" data-id="elevator">
      <div class="door door-left"></div>
      <div class="door door-right"></div>
    </div>
  </div>

  <div class="mod-control-panel">
    <%= for n <- 1..num_floors do %>
      <button
        class="call-elevator-button elevator-call-elevator-button"
        data-action="call-elevator"
        data-floor-number="<%= n %>"
      ><%= n %></button>
    <% end %>
  </div>

  <script src="control_panel.js"></script>
</body>
</html>
