html, body {
  height: 100%;
  margin: 0;
}

.mod-building {
  background: #d0d0d0;
  display: inline-block;
  font-size: 0;
  height: 100%;
  position: relative;
  width: 100px;
}

.mod-building .floors {
  height: 100%;
}

.mod-building .floor {
  border-top: 1px black solid;
  margin-top: -1px;
  width: 100%;
}

.mod-floor {
  position: relative;
}

.call-elevator-button {
  appearance: none;
  background: #000;
  border: 1px #000 solid;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font: bold 12px sans-serif;
  outline: none;
  text-align: center;
}

.call-elevator-button:hover {
  border-color: #f00;
}

.call-elevator-button.is-active {
  background: #f00;
}

.mod-floor .floor-call-elevator-button {
  height: 40px;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: -50px;
  width: 40px;
}

.mod-control-panel {
  background: #e0e0e0;
  left: 300px;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: 100px;
  width: 110px;
}

.mod-control-panel .elevator-call-elevator-button {
  height: 30px;
  margin: 2px;
  width: 30px;
}

.mod-elevator {
  background: #fff;
  left: 5%;
  position: absolute;
  transition: top 1s linear;
  width: 90%;
}

.mod-elevator .door {
  display: inline-block;
  height: 100%;
  position: absolute;
  transition: width 1s ease-out;
  width: 50%;
}

.mod-elevator .door-left {
  background: #808080;
  left: 0;
}

.mod-elevator .door-right {
  background: #909090;
  right: 0;
}

.mod-elevator.is-open .door {
  width: 5%;
}
